h1{
  text-align:center;
  color: #090637;
  margin: 0;
  font-size:5em;
}

body{
  text-align: center;
  background: #E9E6E7;
}

img{
  margin: auto;
}

ul{
  list-style-type: none;
}

table{
  margin: auto;
}

td, th{
  margin: 20px;
  padding: 10px;
  font-size: 1em;
}
 
